@use '../util' as u;
// ANCHOR reset CSS
html {
    box-sizing: border-box;
    font-size: 62.5%;
    // font-size: 100%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 2rem;
    // background-image: url('/assets/images/paper_fibers.png');
    background-image: url('/assets/images/bg-full.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



section {
	min-width: 100vw !important;
}